*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;

}
ul{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
li{
    list-style: none;
}
/* loader */

/* Loader container */
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fbf4cf;
  /* background-image: linear-gradient(to bottom, #82bf42, #65ad42, #4a9b41, #30883f, #11763c); */
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.loader >div{
 position: relative;
}
@keyframes rotation {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.loader >div::after{
 position: absolute;
 content: "";
 top: -0.5rem;
 left: -0.5rem;
 background-color: transparent;
 width: calc(100% + 1rem);
 height: calc(100% + 1rem);
 border-radius: 50%;
 border: 4px solid rgb(252, 176, 63);
  border-bottom-color: transparent ;
z-index: -1;
animation: rotation 1s linear infinite;
}
.loader >div img{
border-radius: 50%;
}



/* icons btn */
.whatsappbtn, .callbtn{
    position: fixed;
     right: 1rem;
    color: #fff;
    background-color: rgb(16, 117, 60);
    border: 4px solid rgb(252, 176, 63);
    padding:0.3rem 0.8rem;
    font-size: 2rem;
    border-radius: 50%;
    z-index: 99;
    
}
@keyframes lift2 {
    0%, 100%, 20%, 50%, 80%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-5px);
    }
     60%{
        transform: translateY(-10px);
    }
}
@keyframes shake {
  0%, 100% {
    transform: rotate(0deg) scale(0.9);
  }
  15%, 45%, 75% {
    transform: rotate(-5deg) scale(1.02);
  }
  30%, 60%, 90% {
    transform: rotate(5deg) scale(1.02);
  }
}
.whatsappbtn{
animation: lift2 1s ease infinite;
 bottom: 150px;
}
.callbtn{
  
     bottom: 50px;
}
.callbtn:hover{
animation: shake 1s ease-in-out infinite;
}

/* heading css */
.firstmainheading{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
    font-family: "Edu NSW ACT Hand Pre", cursive;
    color: rgb(252, 176, 63);
}
.secondmainheading{
font-size: 3rem;
font-weight: bold;
margin: 1rem 0;
}
@media (max-width:768px) {
    .secondmainheading{
font-size: 2rem;
}
}
.greytext{
    color: #666666;
}


/* button css */
.buttondesign{
    color: rgb(227, 227, 227) !important;
    background-color: rgb(131, 192, 66);
    padding: 1rem 2.5rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden !important;
    transition: 1s ease-in-out;
    /* z-index: -1; */
    clip-path: inset(0 round 30px);
}
.buttondesign span{
    position: relative;
    z-index: 2;
}
.buttondesign::before{
    content: "";
    position: absolute;
    height:50%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(16, 117, 60);
    border-radius: 30px 30px 0 0;
    transition: 0.3s;
     z-index: 1;
}
.buttondesign::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(16, 117, 60);
    border-radius: 0 0 30px 30px;
    transition: 0.3s;
     z-index: 1;
}
.buttondesign:hover::after,.buttondesign:hover::before{
  height:0;
}


/* menu */
.menu{
    width: 280px;
    height: 100vh;
  padding: 1rem 0;  
    line-height: 1.8;
    position: fixed;
    left: -350px;
    top: 0;
    z-index:99;
background-color: #fffbe8;
transition: 0.3s;
overflow-y: scroll;
border-right: 2px solid rgb(252, 176, 63);
}
.menu.open{
    left: 0;
}
.menu li{
    padding: 0.5rem 1rem;
border-bottom: 2px solid lightgrey;
transition: 0.3s;
}
.menu li:hover{
    background-color: rgb(252, 176, 63);
}
.menu a{
    color: #000;
    transition: 0.3s;
}
.menu li:hover a{
color: #fff;
}
.menuicons {
  perspective: 600px; /* gives depth for 3D effect */
}
.menuicons i{
margin-right: 1rem;
background-color: rgb(252, 176, 63);
padding:0.6rem 1rem;
color: #fff;
border-radius: 50%;
transition: transform 0.8s ease-in-out; /* smoother and visible */
  transform-style: preserve-3d;
  display: inline-block;
}

.menuicons i:hover {
  transform: rotateY(360deg); /* full visible spin */
  background-color: rgb(252, 176, 63);

}
.menuinfo:hover a , .menuinfo:hover i {
color: rgb(252, 176, 63) !important;
}


/* top nav */
.topnav {
    background-color: #000;
    color: #fff;
    padding: 1rem 0 3rem 0;
}
.topnav a{
color: #fff;
}

/* header */
header{
width: 100%;
left: 50%;
   transform: translate(-50%, -2rem);
   position: absolute;
   z-index: 2;
}
header img , .menu img{
  cursor: pointer;
}
header.sticky{
    /* position: sticky; */
position: fixed;
    top:1rem;
   left: 0;
    transform: translateY(0); /* 👈 smooth drop-down effect */

}
@media (max-width:576px) {
    header.sticky{
   top: 0;
}
}
header .container{
    background-color: #fffbe8;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0px 4px 16px rgba(101, 101, 101, 0.427);
}
.topnavicons i{
    margin-left: 1rem;
}
.dropdownn{
    position: relative;
 
}
.dropdownn::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 15px; /* height of invisible hover area (gap space) */
  background: transparent;
}
.dropdownn ul li{
    margin-left: 0;
}
.sublist{
    position: absolute;
opacity: 0;
visibility: hidden;
left: -1rem;
transform: translateY(50%);
z-index: -1;
    background-color: #fff;
    transition: 0.3s;
    width: 200px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.379);

}
.sublist li{
    border-bottom: 2px solid lightgrey;
    padding: 0.65rem;
}
.dropdownn:hover .sublist{
opacity: 1;
visibility: visible;
transform: translateY(15px);
z-index: 2;
}
.sublist li:hover{
background-color: rgb(252, 176, 63);
}
.sublist li:hover a{
color: #fff !important;
}
@media (max-width:992px) {
header{
   transform: translate(-50%, 1rem);
}
}
@media (max-width:768px) {
    .topnavicons i{
    margin-left: 0;
    margin-right: 1rem;
}
}

@media (max-width:576px) {
header{
   position: relative;
   left: 0;
   transform: none;
}
header .container{
    border-radius: 0;
}
}
.mainheader li{
    margin-left: 2.5rem;
}
.mainheader a{
   font-size: 1.15rem; 
   color: #000;
   transition: 0.3s;
}
.mainheader li:hover a{
    color: rgb(252, 176, 63);
}



/* foundation pAGE */
.foundationbanner{
  position: relative;
}
.foundationbanner img{
 height: 80vh;
 width: 100%;
object-fit: cover;

}
.foundationbannerdiv{
  background-color: rgba(0, 0, 0, 0.603);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
.foundationbannerdiv > div{
  width: 90%
}
@media (min-width:1400px) {
  .foundationbannerdiv > div{
  width: 70%
}
}

.foundationbannerdiv h1{
  font-size: 76px;
}
.foundationbannerdiv h1 span{
    color:rgb(252, 176, 63);
}
@media (max-width:768px) {
  .foundationbannerdiv h1{
  font-size: 40px;
}
}

/* main landing page */

@media (min-width:576px) {
  .msolp{
 transform: translateY(-100px);
}
}
.cardbgcol1{
   background-color:rgb(255, 255, 255);
  border: 2px solid rgb(252, 176, 63);
}
.cardbgcol3{
   background-color:rgb(255, 255, 255);
  border: 2px solid rgb(227, 252, 63);
}
.cardbgcol2{
   background-color:rgb(255, 255, 255);
  border: 2px solid rgb(63, 85, 252);
}
.cardbgcol4{
   background-color:rgb(255, 255, 255);
  border: 2px solid rgb(252, 63, 183);
}
.cardbgcol5{
   background-color:rgb(255, 255, 255);
  border: 2px solid rgb(63, 208, 252);
}
.cardbgcol6{
   background-color:rgb(255, 255, 255);
  border: 2px solid rgb(252, 63, 63);
}
.cardbgcol1 img{
     background-color: rgb(252, 176, 63);
}
.cardbgcol2 img{
  background-color: rgb(63, 85, 252);
}
.cardbgcol3 img{
  background-color: rgb(227, 252, 63);
}
.cardbgcol4 img{
     background-color: rgb(252, 63, 183);
}
.cardbgcol5 img{
     background-color: rgb(63, 208, 252);
}
.cardbgcol6 img{
     background-color: rgb(252, 63, 63);
}
.ourapproachdiv{
  border-radius: 10px;
  padding: 1rem;
  
}
.ourapproach{
background-image:  linear-gradient(to bottom, #82bf42, #65ad42, #4a9b41, #30883f, #11763c);

}
.ourapproachdiv img{
  border-radius: 50%;
  /* border: 2px solid rgb(255, 255, 255); */
  margin-bottom: 2rem;
  transition: 1s;
  padding: 5px;
}

.ourapproachdiv p{
  margin-bottom: 0;
  color: #666666;
  
}
.ourapproachdiv:hover img{
  transform: rotate3d(0,1,0,360deg);
}


/* footer */
.footercompanyinfo img{
  cursor: pointer;
}
footer{
    background-color: #1f1e17;
    color: #fff;
}
footer i{
    color: rgb(252, 176, 63);
}
.footerdiv{
    background-image: url(../images/footer-pattern-1.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
position: relative;
line-height: 2;
}
.footerdiv::before{
content: "";
position: absolute;
top: -50px;
left: 0;
right: 0;
height: 50px;
background-image: url(../images/footertop.png);
 background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}

footer ul li a , .contactinfo a{
    color: #fff;
}
.footercompanyicons i{
padding:0.5rem 1rem;
border-radius: 50%;
transition: 0.3s;
}

.footercompanyicons i:hover{
background-color: rgb(131, 192, 66);
color: #fff;
}
.footercompanyinfo p{
    line-height: 1.5;
}
